fastapi
watchdog
uvicorn[standard]
numpy
opencv-python-headless
ultralytics
python-multipart
sqlalchemy
aiosqlite
reportlab
paddlepaddle
paddleocr
openvino-dev
nncf
onnxruntime
beautifulsoup4
scipy
Pillow
pymodbus
transformers
accelerate
timm
